{%extends'base.html.twig'%}

{% block body %}
<!DOCTYPE html>
<html lang="en">






    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************


    <!*********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">



        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">gestion de lapplication</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./index1.html">dashboard-1</a></li>
                            <li><a href="./index2.html">dashboard-2</a></li>
                           
                        </ul>
                    </li>
                    

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-plug"></i><span class="nav-text">gestion de l'utilisateurs</span></a>
                <ul aria-expanded="false">
                    <li><a href="./user">Utilisateur</a></li>
                  <li><a href="./ajoutuser">Ajouter un utilisateur</a></li>
                </ul>
                  
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">gestion activite physique</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./maissa1.html">activites</a></li>
                          
                            <li><a href="./maissa2.html">historique_activites</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">gestion produits</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./aziz1.html">produit</a></li>
                            <li><a href="./aziz2.html">panier</a></li>
                           
                        </ul>
                    </li>
                
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">gestion objectif sante</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./aya1.html">objectifs</a></li>
                            <li><a href="./aya2.html">suivi_Objectifs</a></li>
                         

                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-plug"></i><span class="nav-text">gestion repas et nutrtion</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./ons1.html">repas</a></li>
                            <li><a href="./ons2.html">journal_nutrition</a></li>
                          
                        </ul>
                    </li>
                   
                   
                  
                 
                
                   
                   
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        
        

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>

{% endblock %}